[project]
name = "toposoid-sentence-parser-english-web"
version = "0.7"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "fastapi[all]==0.112.0",
    "pip>=26.1.1",
    "pytest==8.0.2",
    "spacy==3.8.5",
    "toposoid-python-lib",
    "uvicorn[standard]>=0.46.0",
    "wheel>=0.47.0",
]

[tool.uv.sources]
toposoid-python-lib = { git = "https://github.com/toposoid/toposoid-python-lib.git", rev = "__##GIT_BRANCH##__" }

[tool.uv]
index-strategy = "unsafe-best-match"