fastapi[all]==0.112.0
uvicorn[standard]==0.15.0
pydantic==2.8.2
pytest==8.0.2
wheel==0.37.0
spacy==3.8.4
#spacy-legacy==3.0.8
spacy-loggers==1.0.1
blis==1.2.0
typing_extensions==4.8.0
numpy==1.21.4
-e git+https://__##GIT_TOKEN##__@github.com/toposoid/toposoid-python-lib.git@main#egg=ToposoidCommon